# Git
.git
.gitignore

# Documentation
README.md
LICENSE

# Build artifacts
momoka
webui/dist
webui/node_modules

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Runtime
run.sh

# GitHub
.github